# -*- python -*-

import lsst.sconsUtils

# Pure python: nothing here provides headers or libraries.
dependencies = {
}

config = lsst.sconsUtils.Configuration(
    __file__,
    headers=[],
    hasDoxygenInclude=False,
)
